@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0;

    width: 100%;
    height: 100%;
    --s: 75px;
    /* control the size */

    --_c: #0000, #fff 1deg 79deg, #0000 81deg;
    --g0: conic-gradient(from 140deg at 50% 87.5%, var(--_c));
    --g1: conic-gradient(from 140deg at 50% 81.25%, var(--_c));
    --g2: conic-gradient(from 140deg at 50% 75%, var(--_c));
    --g3: conic-gradient(at 10% 20%, #0000 75%, #fff 0);
    background: var(--g0) 0 calc(var(--s) / -4),
        var(--g0) var(--s) calc(3 * var(--s) / 4), var(--g1),
        var(--g1) var(--s) var(--s), var(--g2) 0 calc(var(--s) / 4),
        var(--g2) var(--s) calc(5 * var(--s) / 4),
        var(--g3) calc(var(--s) / -10) var(--s),
        var(--g3) calc(9 * var(--s) / 10) calc(2 * var(--s)),
        repeating-conic-gradient(from 45deg, #a31e39 0 25%, #31570e 0 50%);
    background-size: calc(2 * var(--s)) calc(2 * var(--s));


}

/* NAVBAR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;

}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container button.hlogo {
    text-decoration: none;
    color: #0e2431;
    font-weight: Bolder;
    font-size: 1.8rem;
    padding: 0.7rem;
    color: #ffff;
    border-radius: 20px;
}

.navbar .nav-container button.menu {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    color: #ffff;
    background-color: RGBA(0, 0, 0, 1);
    border-radius: 20px;
}

.navbar .nav-container button:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 105%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    backdrop-filter: blur(10px);
    position: fixed;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

button#Homing.hlogo {
    position: absolute;
    top: 0px;
    right: 15px;
    color: #fff;
    background: none;
    border: none;
    font-size: 45px;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}

header {
    top: 0;
    position: fixed;
}

header.nav {
    position: relative;
    height: 65px;
    width: 100%;
}

a.post {
    color: white;
    text-decoration: none;
    outline: none;
    margin: auto;
}

.Page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.posts {
    border: blueviolet solid 20px;
    background-color: #fff;
    height: 80vh;
    width: 50vw;
}

/* #post.cont {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
 */
#post.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    height: 100%;
    width: 80vw;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    margin-bottom: 1%;
}

/* #post.title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

#post.sub_title {
    font-weight: 600;
    margin: 5px 0;
}

#post.form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
} */

#post.form_style {
    outline: none;
    background-color: #fff;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 95%;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 1%;
}

p#post.Author {
    font-variant: small-caps;
    font-style: italic;
    margin-top: 15px;
    width: 50%;
}

p#post.Title {
    margin-top: 10px;
    margin-top: 15px;
}

a#post.Comments {
    width: 50%;
    text-decoration: none;
    outline: none;
}

#reply.cont {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;

}

#reply.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    height: 100%;
    width: 80vw;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    margin-bottom: 1%;
}

#reply.form_style {
    outline: none;
    background-color: #fff;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 95%;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 1%;
}

p#reply.Author {
    font-variant: small-caps;
    font-style: italic;
    margin-top: 15px;
    width: 50%;
}

p#reply.Title {
    margin-top: 10px;
    margin-top: 15px;
}

a#reply.Comments {
    width: 50%;
    text-decoration: none;
    outline: none;
}

#reply.area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 96%;
    padding: 12px 10px;
}

button#reply.form_style {
    width: 20%;
}


#commentaries.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    height: 100%;
    width: 80vw;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    margin-bottom: 1%;
}

#commentaries.form_style {
    outline: none;
    background-color: #fff;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 95%;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 1%;
}

p#commentaries.Author {
    font-variant: small-caps;
    font-style: italic;
    margin-top: 15px;
    width: 50%;
}

p#commentaries.Title {
    margin-top: 10px;
    margin-top: 15px;
}

a#commentaries.Comments {
    width: 50%;
    text-decoration: none;
    outline: none;
}

p#commentaries.username {
    font-variant: small-caps;
    font-style: italic;
    margin-top: 15px;
    width: 50%;
}